### Problem Descripition 

In 2012, URL shortening service Bitly partnered with the US government website USA.gov to provide a feed of anonymous data gathered from users who shorten links ending with .gov or .mil.

The text file comes in JSON format and here are some keys and their description. They are only the most important ones for this task.

|key| description |
|---|-----------|
| a|Denotes information about the web browser and operating system|
| tz | time zone |
| r | URL the user come from |
| u | URL where the user headed to |
| t | Timestamp when the user start using the website in UNIX format |
| hc | Timestamp when user exit the website in UNIX format |
| cy | City from which the request intiated |
| ll | Longitude and Latitude |

In the cell, I tried to provide some helper code for better understanding and clearer vision

-**HINT**- Those lines of code may be not helping at all with your task.

In [1]:
# I will try to retrieve one instance of the file in a list of dictionaries
import json
records = [json.loads(line) for line in open('usa.gov_click_data.json')]
# Print the first occurance
records[0]

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'c': 'US',
 'nk': 1,
 'tz': 'America/New_York',
 'gr': 'MA',
 'g': 'A6qOVH',
 'h': 'wfLQtf',
 'l': 'orofrog',
 'al': 'en-US,en;q=0.8',
 'hh': '1.usa.gov',
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
 't': 1333307030,
 'hc': 1333307037,
 'cy': 'Danvers',
 'll': [42.576698, -70.954903]}

# Required

Write a script can transform the JSON files to a DataFrame and commit each file to a sparete CSV file in the target directory and consider the following:

All CSV files must have the following columns
- web_browser
        The web browser that has requested the service
- operating_sys
        operating system that intiated this request
- from_url

        The main URL the user came from

    **note**:

    If the retrived URL was in a long format `http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf`

     make it appear in the file in a short format like this `www.facebook.com`
     
    
- to_url

       The same applied like `to_url`
   
- city

        The city from which the the request was sent
    
- longitude

        The longitude where the request was sent
- latitude

        The latitude where the request was sent

- time_zone
        
        The time zone that the city follow
        
- time_in

        Time when the request started
- time_out
        
        Time when the request is ended
        
        
**NOTE** :

Because that some instances of the file are incomplete, you may encouter some NaN values in your transforamtion. Make sure that the final dataframes have no NaNs at all.

# Imports

In [1]:
import pandas as pd
import httpagentparser

# Data

In [2]:
records = pd.read_json('usa.gov_click_data.json', lines=True)

In [3]:
records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       12 non-null     object
 1   c       9 non-null      object
 2   nk      12 non-null     int64
 3   tz      12 non-null     object
 4   gr      9 non-null      object
 5   g       12 non-null     object
 6   h       12 non-null     object
 7   l       12 non-null     object
 8   al      11 non-null     object
 9   hh      12 non-null     object
 10  r       12 non-null     object
 11  u       12 non-null     object
 12  t       12 non-null     int64
 13  hc      12 non-null     int64
 14  cy      9 non-null      object
 15  ll      9 non-null      object
dtypes: int64(3), object(13)
memory usage: 1.6+ KB

In [4]:
records.head(12)

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1333307030,1333307037,Danvers,"[42.576698, -70.954903]"
1,GoogleMaps/RochesterNY,US,0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1331923249,1308262393,Provo,"[40.218102, -111.613297]"
2,Mozilla/4.0 (Windows NT 6.1; MSIE 8.0; Windows...,US,1,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1333407030,1333407035,Washington,"[38.9007, -77.043098]"
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1333507030,1333507044,Braz,"[-23.549999, -46.616699]"
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1333607030,1333607039,Shrewsbury,"[42.286499, -71.714699]"
5,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0,America/New_York,MA,axNK8c,axNK8c,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1333707030,1333707048,Shrewsbury,"[42.286499, -71.714699]"
6,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,PL,0,Europe/Warsaw,77,wcndER,zkpJBR,bnjacobs,"pl-PL,pl;q=0.8,en-US;q=0.6,en;q=0.4",1.usa.gov,http://plus.url.google.com/url?sa=z&n=13319232...,http://www.nasa.gov/mission_pages/nustar/main/...,1333807030,1333807040,Luban,"[51.116699, 15.2833]"
7,Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/2...,None,0,,NaN,wcndER,zkpJBR,bnjacobs,"bg,en-us;q=0.7,en;q=0.3",1.usa.gov,http://www.facebook.com/,http://www.nasa.gov/mission_pages/nustar/main/...,1334007036,13340070364,NaN,NaN
8,Opera/9.80 (Ubuntu 14.04.6; Linux zbov; U; en)...,None,0,,NaN,wcndER,zkpJBR,bnjacobs,"en-US, en",1.usa.gov,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,http://www.nasa.gov/mission_pages/nustar/main/...,1333907030,1333907042,NaN,NaN
9,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,None,0,,NaN,zCaLwp,zUtuOu,alelex88,"pt-BR,pt;q=0.8,en-US;q=0.6,en;q=0.4",1.usa.gov,http://t.co/o1Pd0WeV,http://apod.nasa.gov/apod/ap120312.html,1334007030,1334007040,NaN,NaN
10,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,US,1,America/Los_Angeles,WA,vNJS4H,u0uD9q,o_4us71ccioa,"en-us,en;q=0.5",1.usa.gov,direct,https://www.nysdot.gov/rexdesign/design/commun...,1334107030,1334107040,Seattle,"[47.5951, -122.332603]"
11,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.4...,US,0,America/New_York,DC,wG7OIH,A0nRz4,darrellissa,"en-us,en;q=0.5",1.usa.gov,http://t.co/ND7SoPyo,http://oversight.house.gov/wp-content/uploads/...,1334207040,1334207043,Washington,"[38.937599, -77.092796]"

In [5]:
final_df = pd.DataFrame()

# Web browser

In [6]:
web_browser_list = []
for x in records['a']:
   web_browser_list.append(httpagentparser.simple_detect(x)[1])

In [7]:
final_df['web_browser'] = pd.Series(web_browser_list)

In [8]:
final_df['web_browser']

0                  Chrome 17.0.963.78
1                     Unknown Browser
2     Microsoft Internet Explorer 8.0
3                        Safari 5.1.2
4                  Chrome 17.0.963.79
5                  Chrome 17.0.963.79
6                  Chrome 17.0.963.79
7                       Firefox 4.0.1
8                         Opera 12.00
9                  Chrome 17.0.963.79
10                     Firefox 10.0.2
11                     Firefox 3.6.27
Name: web_browser, dtype: object

# Operating system

In [9]:
os_list = []
for x in records['a']:
   os_list.append(httpagentparser.simple_detect(x)[0])

In [10]:
final_df['operating_sys'] = pd.Series(os_list)

In [11]:
final_df['operating_sys']

0                    Windows 7
1                   Unknown OS
2                    Windows 7
3     MacOS Macintosh X 10.6.8
4                    Windows 7
5                    Windows 7
6                   Windows XP
7                    Windows 7
8                 Ubuntu Linux
9                    Windows 7
10                   Windows 7
11      MacOS Macintosh X 10.4
Name: operating_sys, dtype: object

# from_url

In [12]:
final_df['from_url'] = records['r'].str.split("/", expand=True)[:][2].fillna("direct")

In [13]:
final_df['from_url']

0          www.facebook.com
1          www.AwareMap.com
2                      t.co
3                    direct
4     www.shrewsbury-ma.gov
5     www.shrewsbury-ma.gov
6       plus.url.google.com
7          www.facebook.com
8          www.facebook.com
9                      t.co
10                   direct
11                     t.co
Name: from_url, dtype: object

# to_url

In [14]:
final_df['to_url'] = records['u'].str.split("/", expand=True)[:][2]

In [15]:
final_df['to_url']

0      www.ncbi.nlm.nih.gov
1      www.monroecounty.gov
2          boxer.senate.gov
3             apod.nasa.gov
4     www.shrewsbury-ma.gov
5     www.shrewsbury-ma.gov
6              www.nasa.gov
7              www.nasa.gov
8              www.nasa.gov
9             apod.nasa.gov
10           www.nysdot.gov
11      oversight.house.gov
Name: to_url, dtype: object

# City

In [16]:
final_df['city'] = records['cy'].fillna('Not found')

In [17]:
final_df['city']

0        Danvers
1          Provo
2     Washington
3           Braz
4     Shrewsbury
5     Shrewsbury
6          Luban
7      Not found
8      Not found
9      Not found
10       Seattle
11    Washington
Name: city, dtype: object

# Longitude and Latitude

In [18]:
final_df['longitude'] = records['ll'].str[0].fillna('Not found')
final_df['latitude'] = records['ll'].str[1].fillna('Not found')

In [19]:
final_df[['longitude', 'latitude']]

    longitude    latitude
0   42.576698  -70.954903
1   40.218102 -111.613297
2     38.9007  -77.043098
3  -23.549999  -46.616699
4   42.286499  -71.714699
5   42.286499  -71.714699
6   51.116699     15.2833
7   Not found   Not found
8   Not found   Not found
9   Not found   Not found
10    47.5951 -122.332603
11  38.937599  -77.092796

# Time zone

In [20]:
final_df['time_zone'] = records['tz'].replace('', 'Not found')

In [21]:
final_df['time_zone']

0        America/New_York
1          America/Denver
2        America/New_York
3       America/Sao_Paulo
4        America/New_York
5        America/New_York
6           Europe/Warsaw
7               Not found
8               Not found
9               Not found
10    America/Los_Angeles
11       America/New_York
Name: time_zone, dtype: object

# Time in

In [22]:
final_df['time_in'] = records['t']

In [23]:
final_df['time_in']

0     1333307030
1     1331923249
2     1333407030
3     1333507030
4     1333607030
5     1333707030
6     1333807030
7     1334007036
8     1333907030
9     1334007030
10    1334107030
11    1334207040
Name: time_in, dtype: int64

# Time out

In [24]:
final_df['time_out'] = records['hc']

In [25]:
final_df['time_out']

0      1333307037
1      1308262393
2      1333407035
3      1333507044
4      1333607039
5      1333707048
6      1333807040
7     13340070364
8      1333907042
9      1334007040
10     1334107040
11     1334207043
Name: time_out, dtype: int64

# Final dataframe

In [26]:
final_df.head(12)

,web_browser,operating_sys,from_url,to_url,city,longitude,latitude,time_zone,time_in,time_out
0,Chrome 17.0.963.78,Windows 7,www.facebook.com,www.ncbi.nlm.nih.gov,Danvers,42.576698,-70.954903,America/New_York,1333307030,1333307037
1,Unknown Browser,Unknown OS,www.AwareMap.com,www.monroecounty.gov,Provo,40.218102,-111.613297,America/Denver,1331923249,1308262393
2,Microsoft Internet Explorer 8.0,Windows 7,t.co,boxer.senate.gov,Washington,38.9007,-77.043098,America/New_York,1333407030,1333407035
3,Safari 5.1.2,MacOS Macintosh X 10.6.8,direct,apod.nasa.gov,Braz,-23.549999,-46.616699,America/Sao_Paulo,1333507030,1333507044
4,Chrome 17.0.963.79,Windows 7,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,1333607030,1333607039
5,Chrome 17.0.963.79,Windows 7,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,1333707030,1333707048
6,Chrome 17.0.963.79,Windows XP,plus.url.google.com,www.nasa.gov,Luban,51.116699,15.2833,Europe/Warsaw,1333807030,1333807040
7,Firefox 4.0.1,Windows 7,www.facebook.com,www.nasa.gov,Not found,Not found,Not found,Not found,1334007036,13340070364
8,Opera 12.00,Ubuntu Linux,www.facebook.com,www.nasa.gov,Not found,Not found,Not found,Not found,1333907030,1333907042
9,Chrome 17.0.963.79,Windows 7,t.co,apod.nasa.gov,Not found,Not found,Not found,Not found,1334007030,1334007040
10,Firefox 10.0.2,Windows 7,direct,www.nysdot.gov,Seattle,47.5951,-122.332603,America/Los_Angeles,1334107030,1334107040
11,Firefox 3.6.27,MacOS Macintosh X 10.4,t.co,oversight.house.gov,Washington,38.937599,-77.092796,America/New_York,1334207040,1334207043

In [27]:
final_df.to_csv('final_csv.csv')